<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    Key Takeaways: <%= f.text_field :takeaways %>
  </p>
  <p>
    Next Steps: <%= f.text_field :nextsteps %>
  </p>
  <%# for company in @post.companies %>
  
  <%# for company in @post.companies %>
    <%= f.fields_for :companies do |c| %>
    <p>
      Company: <%= c.text_field :name %>
    </p>
    <% end %>
  <%# end %>


<!--   <div class="field">
    <%#= f.label :takeaways %><br>
    <%#= f.text_area :takeaways %>
  </div>
  <div class="field">
    <%#= f.label :nextsteps %><br>
    <%#= f.text_area :nextsteps %>
  </div>
  <div class="field">
    <%#= f.label :user_id %><br>
    <%#= f.number_field :user_id %>
  </div>

  <%#= fields_for @company do |c| %>
    <div class="field">
      <%#= c.label :name %><br>
      <%#= c.text_area :name %>
    </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
